//- вариант баннера без слайдера---------------
section.first#first
  section.bunner#bunner
      .bunner__bg.imgs
        picture
            source(srcset="assets/img/paralax.jpg, assets/img/paralax@2.jpg 2x,  assets/img/paralax@3.jpg 3x,"  type="image/jpg"  media="(min-width: 1200px)")
            source(srcset="assets/img/img-2.png" type="image/png"  media="(min-width: 1000px) and (max-width: 1199px)")
            source(srcset="assets/img/busic.gif" type="image/gif"  media="(max-width: 999px)")
            img(src='assets/img/img-2.png', alt='img')
      .container
        .bunner__body
          .bunner__title 
            h1 Блог о компании
          .bunner__text  
            p и способы борьбы с конкурирующими компаниями
            a(href="#!").btn.btn--success.bunner__button.popup-init-js  Take the Tour
  //- вариант баннера со слайдером-----------------
//- section.first#first
//-   .bunner-slider#bunner
//-           .slider
//-             ul.slider__slider.slider__body.slider-js-1
//-                 li.slider__item.slider-card
//-                     .slider-card__img.imgs
//-                             picture
//-                               source(srcset="assets/img/paralax.jpg, assets/img/paralax@2.jpg 2x,  assets/img/paralax@3.jpg 3x,"  type="image/jpg"  media="(min-width: 1200px)")
//-                               source(srcset="assets/img/img-2.png" type="image/png"  media="(min-width: 1000px) and (max-width: 1199px)")
//-                               source(srcset="assets/img/busic.gif" type="image/gif"  media="(max-width: 999px)")
//-                               img(src='assets/img/paralax.jpg'    alt='img')
//-                     .slider-card__body
//-                       .slider-card__title 
//-                         h2 Блог о компании
//-                       .slider-card__text  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
//-                       a(href="").btn.btn--success.slider-card__button  Explore More
//-                 li.slider__item.slider-card
//-                     .slider-card__img.imgs
//-                             picture
//-                               source(srcset="assets/img/paralax.jpg, assets/img/paralax@2.jpg 2x,  assets/img/paralax@3.jpg 3x,"  type="image/jpg"  media="(min-width: 1200px)")
//-                               source(srcset="assets/img/img-2.png" type="image/png"  media="(min-width: 1000px) and (max-width: 1199px)")
//-                               source(srcset="assets/img/busic.gif" type="image/gif"  media="(max-width: 999px)")
//-                               img(src='assets/img/paralax.jpg', alt='img')
//-                     .slider-card__body
//-                       .slider-card__title
//-                         h2 Блог о компании
//-                       .slider-card__text  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
//-                       a(href="#!").btn.btn--success.slider-card__button  Take the Tour

