section#contacts.contacts
    .container
      .contacts__body
            form.contacts__form.form
              .form__item
                input#name(type='text' required='' placeholder=' Denzel Washington')
                label(for='name') What is your name?
              .form__item
                input#email(type='email' required='' placeholder=' thebestmail@mail.com')
                label(for='email') What is your email?
              .form__item
                textarea#message(type='text' required='' placeholder=' Your awesome         message' cols=' 40' rows='6')
                label(for='message') Write your message
              .form__item.contacts__file-add
                input#customFile.custom-file-input(type='file')
                label.name__text(for='customFile') Add "attachment
                .custom-file
              .form__item
                input.submit-button.btn.btn--success(type='submit'  placeholder="Send message") 