header.header
    .container
        .header__body
            a(href="#!").header__logo
                svg
                    use(xlink:href='/assets/img/sprite.svg#clock')
            nav.header__menu.menu
                i.header__close
                    svg
                        use(xlink:href='/assets/img/sprite.svg#close')
                ul.menu__list
                    li.menu__item
                        a.menu__link(href="#!" rel="#bunner").button-scroll Home
                    li.menu__item
                        a.menu__link(href="#!" rel="#posts").button-scroll Posts
                    li.menu__item
                        a.menu__link(href="#!" rel="#galery").button-scroll Projects


            .header__info.info
                a.info_phone(href='#!') +7(000) 123 45 65
                form.info_search
                    input(type='text' placeholder='Поиск')
                    svg
                        use(xlink:href='/assets/img/sprite.svg#search')
                    input(type='submit')
            i.header__burger
                svg
                    use(xlink:href='/assets/img/sprite.svg#burger')

