//- hr 
//- h2(style="padding: 0 0 20px 0	") inputs

//- //- включает inputs.sass inputs.pug
.m20
input(type='text'  placeholder='placeholder input' style="border: 1px solid lime")
.m20
input(type='textarea'  placeholder='placeholder textarea'  style="border: 1px solid lime")







//- включает polzunki.css  polzunki.js  inputs.sass inputs.pug
//- section.calculator-section(data-type='slider-group' )
//-   p.range
//-     .calculator-section__number
//-       output 
//-     input#test1(type='range' min='0' max='5000000' value='10' step='1' name='groep1')


//- включает  inputs.pug inputs.sass 
.m20
div
  input#cb1(type='checkbox')
  label(for='cb1') Флажок 1
div
  input#cb2(type='checkbox')
  label(for='cb2') Флажок 2
div
  input#cb3(type='checkbox')
  label(for='cb3') Флажок 3
.m20
div
  input#rb1(type='radio' name='rb' checked='')
  label(for='rb1') Переключатель 1
div
  input#rb2(type='radio' name='rb')
  label(for='rb2') Переключатель 2
div
  input#rb3(type='radio' name='rb')
  label(for='rb3') Переключатель 3