
.popup
    .popup__overlay
      .popup__inner
        section#pf.pf
          .pf-item__title 
            h2 Užsiregistruokite 10 min. individualiai konsultacijai ir sužinokite apie reklamos galimybes
          .pf-item__description Palikite savo kontaktinius duomenys ir greitu metu mes su Jumis susisieksime
          .pf__form.p-form
                  form.connect__form.connect
                    .connect__item
                      input#name(type='text' required='' placeholder=' Denzel Washington')
                      label(for='name') Jūsų vardas
                    .connect__item
                      input#email(type='address' required='' placeholder=' the')
                      label(for='email') Jūsų el. paštas
                    .connect__item
                      input#phone(type='phone' required='' placeholder=' the')
                      label(for='phone') Jūsų telefono numeris
                    .connect__item
                      textarea#message(type='textarea' required='' placeholder=' Your ' cols='40' rows='6')
                      label(for='message') Žinutė Jūsų tinklapis arba verslo sritis
                    .connect__info.con-info
                      .con-info__title  Kokios paslaugos Jus domina?
                      .con-info__item
                        input#cb10(type='checkbox')
                        label(for='cb10') Google Ads
                      .con-info__item
                        input#cb12(type='checkbox')
                        label(for='cb12') Facebook
                      .con-info__item
                        input#cb4(type='checkbox')
                        label(for='cb4') Instagram
                      .con-info__item
                        input#cb5(type='checkbox')
                        label(for='cb5') Youtube
                      .con-info__item
                        input#cb6(type='checkbox')
                        label(for='cb6') Linkedin
                      .con-info__item
                        input#cb7(type='checkbox')
                        label(for='cb7') Naujienlaiškis
                      .con-info__item
                        input#cb8(type='checkbox')
                        label(for='cb8') Tinklapiai ir e-parduotuvės
                      .con-info__item
                        input#cb9(type='checkbox')
                        label(for='cb9') Parduodančių tekstų rašymas
                      .con-info__item
                        input#cb99(type='checkbox')
                        label(for='cb99') Marketingo strategijos kūrimas
                      .con-info__item.con-info__item--politic
                        input#cb88(type='checkbox')
                        label(for='cb88') Užpildžius šią užklausos formą, aš sutinku su 
                  button#submit-button(type='submit').connect__submit-button.btn.btn--success Registrations
        
        i.icon-close2.popup__close.popup__close