section#polzunok.polzunok
    .container
        .polzunok__title
            h2 Отдельный ползунок
            section.calculator-section(data-type='slider-group' )
                p.range
                    .range__descriptions
                        span.min-value._f-12._w-500 2 м.
                        span.max-value._f-12._w-500 5 м.
                    .calculator-section__number
                        output
                    input#price(type='range' min='2000000' max='5000000' value='0' step='1' name='groep1')
                    input.calculator-section__double._f-18._w-500(type="text")
            span.range-currency руб.







