section#posts.posts
  .container
    h2 Посты
    .posts__body.slider-js-posts-side.slider
        .posts__item.posts-item
          .posts__img.imgs
            picture
              source(srcset="assets/img/p.jpg" type="image/jpg"  media="(min-width: 1200px)")
              source(srcset="assets/img/img-2.png" type="image/png"  media="(min-width: 1000px) and (max-width: 1199px)")
              source(srcset="assets/img/busic.gif" type="image/gif"  media="(max-width: 999px)")
              img(src='assets/img/p.jpg', alt='img')
          .posts-item__body
            .posts-item__title 
              h3 Заголовок 
            .posts-item__text Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui deserunt, fugiat placeat officiis nostrum quis cum ea non, 
            .posts-item__button
              a(href='#!').btn.btn--success more
        .posts__item
          .posts__img.imgs
            picture
              source(srcset="assets/img/img-2.png" type="image/jpg"  media="(min-width: 1200px)")
              source(srcset="assets/img/p.jpg" type="image/png"  media="(min-width: 1000px) and (max-width: 1199px)")
              source(srcset="assets/img/busic.gif" type="image/gif"  media="(max-width: 999px)")
              img(src='assets/img/img-2.png', alt='img')
          .posts-item__body
            .posts-item__title 
              h3 Заголовок 
            .posts-item__text Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui deserunt, fugiat placeat officiis nostrum quis cum ea non, 
            .posts-item__button
              a(href='#!').btn.btn--success more
        .posts__item
          .posts__img.imgs
            picture
              source(srcset="assets/img/busic.gif" type="image/jpg"  media="(min-width: 1200px)")
              source(srcset="assets/img/p.jpg" type="image/png"  media="(min-width: 1000px) and (max-width: 1199px)")
              source(srcset="assets/img/img-2.png" type="image/gif"  media="(max-width: 999px)")
              img(src='assets/img/busic.gif', alt='img')
          .posts-item__body
            .posts-item__title 
              h3 Заголовок 
            .posts-item__text Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui deserunt, fugiat placeat officiis nostrum quis cum ea non, 
            .posts-item__button
              a(href='#!').btn.btn--success more
        .posts__item
          .posts__img.imgs
            picture
              source(srcset="assets/img/busic.gif" type="image/jpg"  media="(min-width: 1200px)")
              source(srcset="assets/img/p.jpg" type="image/png"  media="(min-width: 1000px) and (max-width: 1199px)")
              source(srcset="assets/img/img-2.png" type="image/gif"  media="(max-width: 999px)")
              img(src='assets/img/busic.gif', alt='img')
          .posts-item__body
            .posts-item__title 
              h3 Заголовок 
            .posts-item__text Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui deserunt, fugiat placeat officiis nostrum quis cum ea non, 
            .posts-item__button
              a(href='#!').btn.btn--success more