
section#projects.projects
    .container
      .projects__title
              h2._f-2 Проекты
      ul.projects__body.slider-js-posts-projects.slider
        li.projects__item.projects-item
              .projects-item__body
                .projects-item__title._f-4 Заголовок
                .projects-item__text._f-5 textte xttextte xttextxtte xttexttexttext xttexttexttexttex txttextte xttexttext
                .projects-item__button
                  a(href='#!').btn.btn--success Кнопка 
        li.projects__item.projects-item
              .projects-item__body
                .projects-item__title._f-4 Заголовок
                .projects-item__text._f-5 textte xttexttext textxttextt exttexttextxt texttexttextte xtxttextte xttexttext
                .projects-item__button
                  a(href='#!').btn.btn--success Кнопка 
        li.projects__item.projects-item
              .projects-item__body
                .projects-item__title._f-4 Заголовок
                .projects-item__text._f-5 texttex ttexttext textxttexttexttex ttextxttexttext texttextxttext texttexttext
                .projects-item__button
                  a(href='#!').btn.btn--success Кнопка 
        li.projects__item.projects-item
              .projects-item__body
                .projects-item__title._f-4 Заголовок
                .projects-item__text textte xttexttext textxttextt exttexttextxt texttexttextte xtxttextte xttexttext
                .projects-item__button
                  a(href='#!').btn.btn--success Кнопка 
        li.projects__item.projects-item
              .projects-item__body
                .projects-item__title._f-4 Заголовок
                .projects-item__text._f-5 texttex ttexttext textxttexttexttex ttextxttexttext texttextxttext texttexttext
                .projects-item__button
                  a(href='#!').btn.btn--success Кнопка 
                  

