section#projects.projects
    .container
      .projects__title.title 
              h2 Проекты
      ul.projects__body.slider-js-posts-projects.slider
        li.projects__item.projects-item
              .projects-item__body
                .projects-item__title Заголовок
                .projects-item__text textte xttextte xttextxtte xttexttexttext xttexttexttexttex txttextte xttexttext
                .projects-item__button
                  a(href='#!').btn.btn--success Кнопка 
        li.projects__item.projects-item
              .projects-item__body
                .projects-item__title Заголовок
                .projects-item__text textte xttexttext textxttextt exttexttextxt texttexttextte xtxttextte xttexttext
                .projects-item__button
                  a(href='#!').btn.btn--success Кнопка 
        li.projects__item.projects-item
              .projects-item__body
                .projects-item__title Заголовок
                .projects-item__text texttex ttexttext textxttexttexttex ttextxttexttext texttextxttext texttexttext
                .projects-item__button
                  a(href='#!').btn.btn--success Кнопка 
        li.projects__item.projects-item
              .projects-item__body
                .projects-item__title Заголовок
                .projects-item__text textte xttexttext textxttextt exttexttextxt texttexttextte xtxttextte xttexttext
                .projects-item__button
                  a(href='#!').btn.btn--success Кнопка 
        li.projects__item.projects-item
              .projects-item__body
                .projects-item__title Заголовок
                .projects-item__text texttex ttexttext textxttexttexttex ttextxttexttext texttextxttext texttexttext
                .projects-item__button
                  a(href='#!').btn.btn--success Кнопка 
                  

