section#today 
  .container
    h2 today 
    .section
        .section__item
          .section__img.imgs
            picture
              source(srcset="assets/img/p.jpg" type="image/jpg"  media="(min-width: 1200px)")
              source(srcset="assets/img/img-2.png" type="image/png"  media="(min-width: 1000px) and (max-width: 1199px)")
              source(srcset="assets/img/busic.gif" type="image/gif"  media="(max-width: 999px)")
              img(src='assets/img/p.jpg', alt='img')
          p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui deserunt, fugiat placeat officiis nostrum quis cum ea non, 
        .section__item
          .section__img.imgs
            picture
              source(srcset="assets/img/img-2.png" type="image/jpg"  media="(min-width: 1200px)")
              source(srcset="assets/img/p.jpg" type="image/png"  media="(min-width: 1000px) and (max-width: 1199px)")
              source(srcset="assets/img/busic.gif" type="image/gif"  media="(max-width: 999px)")
              img(src='assets/img/img-2.png', alt='img')
          p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui deserunt, fugiat placeat officiis nostrum quis cum ea non, 
        .section__item
          .section__img.imgs
            picture
              source(srcset="assets/img/busic.gif" type="image/jpg"  media="(min-width: 1200px)")
              source(srcset="assets/img/p.jpg" type="image/png"  media="(min-width: 1000px) and (max-width: 1199px)")
              source(srcset="assets/img/img-2.png" type="image/gif"  media="(max-width: 999px)")
              img(src='assets/img/busic.gif', alt='img')
          p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui deserunt, fugiat placeat officiis nostrum quis cum ea non, 

section#history
  .container
      h2 history  
      .section__img.imgs
        picture
          source(srcset="assets/img/p.jpg" type="image/jpg"  media="(min-width: 1200px)")
          source(srcset="assets/img/img-2.png" type="image/png"  media="(min-width: 1000px) and (max-width: 1199px)")
          source(srcset="assets/img/busic.gif" type="image/gif"  media="(max-width: 999px)")
          img(src='assets/img/img-2.png', alt='img')
      p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui deserunt, fugiat placeat officiis nostrum quis cum ea non, quam nam labore deleniti rem eveniet nesciunt repudiandae 
//- section#mission
//-   .sec__img
//-     img(src='assets/img/busic.gif', alt='img')  
//-   p Lorem ipsum dolor sit amet consectetur



section#mission.mission
    .container
      .mission__body
        h2 mission
        .mission__column
          p mission  missionmissionmissionmissionmissionmissionmissionmissionmissionmission
          p mission  missionmissionmissionmissionmissionmissionmissionmissionmissionmission
          p mission  missionmissionmissionmissionmissionmissionmissionmissionmissionmission
          p mission  missionmissionmissionmissionmissionmissionmissionmissionmissionmission
          p mission  missionmissionmissionmissionmissionmissionmissionmissionmissionmission



