
section
    .container
        .infinity__title
            h1 slider infinity
        #infinity.infinity
                .infinity__single.single
                    .silgle__title #1
                    .single__img
                        .imgs
                            img(src="assets/img/i-1.png  ")
                .infinity__single.single
                    .silgle__title #2
                    .single__img
                        .imgs
                            img(src="assets/img/i-6.png  ")
                .infinity__single.single
                    .silgle__title #3
                    .single__img
                        .imgs
                            img(src="assets/img/img-2.png  ")
                .infinity__single.single
                    .silgle__title #4
                    .single__img
                        .imgs
                            img(src="assets/img/i-6.png  ")
                .infinity__single.single
                    .silgle__title #5
                    .single__img
                        .imgs
                            img(src="assets/img/p.jpg ")



        button(type="button").infinity__button.infinity__button--left <
        button(type="button").infinity__button.infinity__button--right >

