section#companies.companies
    .container
        h2 Нам доверяют
        .underline
        .companies__wrapper
            .companies__hor
                .companies__hor-item
                    .imgs
                        img(src="assets/img/p.jpg  ")
                .companies__hor-item
                    .imgs
                        img(src="assets/img/i-1.png ")
                .companies__hor-item
                    .imgs
                        img(src="assets/img/i-6.png ")

            button(type="button")#test-left
                svg
                    use(xlink:href='/assets/img/sprite.svg#arrow-left')
            button(type="button")#test-right
                svg
                    use(xlink:href='/assets/img/sprite.svg#arrow-right')



