section#slider-track.slider-track
    .slider-track__wrapper
      .slider-track__container
        .slider-track__track
            .slider-track__item #1
            .slider-track__item #2
            .slider-track__item #3
            .slider-track__item #4
            .slider-track__item #5

        .slider-track__buttons
            button(type="button").slider-track__button.slider-track__button--left <
            button(type="button").slider-track__button.slider-track__button--right >

//.slider-track__title
//.slider-track__text
//a(href="#!").btn.btn--success.slider-track__button
//.slider-track__img(style="position: relative")
//  .imgs
//      img(src="assets/img/  ")
      
      
      
