section#infinity.infinity
    .container
        .infinity__title
            h1 slider infinity
        .infinity__body
                .infinity__single(style="position: relative")
                    .imgs
                        img(src="assets/img/p.jpg  ")
        

