section#block-11.block-11
    .container
        .block-11__title
            h2._f-40._28 Независимые табы
        ul.block-11__body.tabs-container-js
            li.block-11__tab.block-11-tab
                .block-11-tab__title.tab-title-js
                    span._w-600._b1 Часто задаваемый вопрос №1
                    svg
                        use(xlink:href='/assets/img/sprite.svg#arrow-down')
                .block-11-tab__hidden.tab-hidden-js
                    p._w-400   Противоположная точка зрения подразумевает, что активно развивающиеся страны третьего мира неоднозначны и будут ограничены исключительно образом мышления.
                    p._w-400 В своём стремлении повысить качество жизни, они забывают, что новая модель организационной деятельности является качественно новой ступенью переосмысления внешнеэкономических политик.

            li.block-11__tab.block-11-tab
                .block-11-tab__title.tab-title-js
                    span._w-600._b1 Часто задаваемый вопрос №2
                    svg
                        use(xlink:href='/assets/img/sprite.svg#arrow-down')
                .block-11-tab__hidden.tab-hidden-js
                    p._w-400   Противоположная точка зрения подразумевает, что активно развивающиеся страны третьего мира неоднозначны и будут ограничены исключительно образом мышления.
                    p._w-400 В своём стремлении повысить качество жизни, они забывают, что новая модель организационной деятельности является качественно новой ступенью переосмысления внешнеэкономических политик.

            li.block-11__tab.block-11-tab
                .block-11-tab__title.tab-title-js
                    span._w-600._b1 Часто задаваемый вопрос №3
                    svg
                        use(xlink:href='/assets/img/sprite.svg#arrow-down')
                .block-11-tab__hidden.tab-hidden-js
                    p._w-400   Противоположная точка зрения подразумевает, что активно развивающиеся страны третьего мира неоднозначны и будут ограничены исключительно образом мышления.
                    p._w-400 В своём стремлении повысить качество жизни, они забывают, что новая модель организационной деятельности является качественно новой ступенью переосмысления внешнеэкономических политик.

            li.block-11__tab.block-11-tab
                .block-11-tab__title.tab-title-js
                    span._w-600._b1 Часто задаваемый вопрос №4
                    svg
                        use(xlink:href='/assets/img/sprite.svg#arrow-down')
                .block-11-tab__hidden.tab-hidden-js
                    p._w-400   Противоположная точка зрения подразумевает, что активно развивающиеся страны третьего мира неоднозначны и будут ограничены исключительно образом мышления.
                    p._w-400 В своём стремлении повысить качество жизни, они забывают, что новая модель организационной деятельности является качественно новой ступенью переосмысления внешнеэкономических политик.

            li.block-11__tab.block-11-tab
                .block-11-tab__title.tab-title-js
                    span._w-600._b1 Часто задаваемый вопрос №5
                    svg
                        use(xlink:href='/assets/img/sprite.svg#arrow-down')
                .block-11-tab__hidden.tab-hidden-js
                    p._w-400   Противоположная точка зрения подразумевает, что активно развивающиеся страны третьего мира неоднозначны и будут ограничены исключительно образом мышления.
                    p._w-400 В своём стремлении повысить качество жизни, они забывают, что новая модель организационной деятельности является качественно новой ступенью переосмысления внешнеэкономических политик.





