section#duble-sliders.slider-cards.duble-sliders
    .container
        .slider-cards__body
            .slider-cards__title.title
                h2 Два связанных слайдера
            .slider-cards__content

                .slider-cards__top
                    .slider
                        .duble-sliders-slick-prev.slick-arrow.slick-prev
                            svg
                                use(xlink:href='/assets/img/sprite.svg#arrow-left')
                        .duble-sliders-slick-next.slick-arrow.slick-next
                            svg
                                use(xlink:href='/assets/img/sprite.svg#arrow-right')

                        .slider__body.slider-js-1
                            li.slider-cards__item.slider-card
                                .slider-card__title 1966
                            li.slider-cards__item.slider-card
                                .slider-card__title 1965
                            li.slider-cards__item.slider-card
                                .slider-card__title 1964
                            li.slider-cards__item.slider-card
                                .slider-card__title 1963
                            li.slider-cards__item.slider-card
                                .slider-card__title 1962
                            li.slider-cards__item.slider-card
                                .slider-card__title 1961

                .slider-cards__bottom
                    .slider
                            .duble-sliders-bottom-slick-prev.slick-arrow.slick-prev
                                svg
                                    use(xlink:href='/assets/img/sprite.svg#arrow-left')
                            .duble-sliders-bottom-slick-next.slick-arrow.slick-next
                                svg
                                    use(xlink:href='/assets/img/sprite.svg#arrow-right')

                            .slider__body.slider-js-2
                                li.slider-cards__item.slider-card
                                    .slider-card__img(style="background-image: url('assets/img/card/img-1.png')")
                                    .slider-card__title 1966
                                    .slider-card__text  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    .btn.btn--success.slider-card__button  Explore More
                                li.slider-cards__item.slider-card
                                    .slider-card__img(style="background-image: url('assets/img/card/img-2.png')")
                                    .slider-card__title 1965
                                    .slider-card__text  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    .btn.btn--success.slider-card__button  Take the Tour
                                li.slider-cards__item.slider-card
                                    .slider-card__img(style="background-image: url('assets/img/card/img-3.png')")
                                    .slider-card__title 1964
                                    .slider-card__text  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    .btn.btn--success.slider-card__button  Try for Free
                                li.slider-cards__item.slider-card
                                    .slider-card__img(style="background-image: url('assets/img/card/img-1.png')")
                                    .slider-card__title 1963
                                    .slider-card__text  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    .btn.btn--success.slider-card__button  Explore More
                                li.slider-cards__item.slider-card
                                    .slider-card__img(style="background-image: url('assets/img/card/img-2.png')")
                                    .slider-card__title 1962
                                    .slider-card__text  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    .btn.btn--success.slider-card__button  Take the Tour
                                li.slider-cards__item.slider-card
                                    .slider-card__img(style="background-image: url('assets/img/card/img-3.png')")
                                    .slider-card__title 1961
                                    .slider-card__text  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    .btn.btn--success.slider-card__button  Try for Free

