section#single-slider.single-slider
    .container
        .single-slider__title
            h2 Слайдер галерея. ширина 30%
        .single-slider__body
                .single-slider-top
                    .slider
                        .slider__body.slider-single-top-js
                            .card__left
                                .imgs
                                    img(src='assets/img/p.jpg', alt='img')
                            .card__left
                                .imgs
                                    img(src='assets/img/img-2.png', alt='img')
                            .card__left
                                .imgs
                                    img(src='assets/img/p.jpg', alt='img')



                .single-slider-bottom
                    .slider
                        .slider__body.slider-single-bottom-js
                            .galery__item
                                .imgs
                                    img(src='assets/img/p.jpg', alt='img')
                            .galery__item
                                .imgs
                                    img(src='assets/img/img-2.png', alt='img')
                            .galery__item
                                .imgs
                                    img(src='assets/img/p.jpg', alt='img')