section
    .container
        h2 SLIKE  -- 1 слайд .
        .m20
        .slike-uno
            .slike-arrow.slike-arrow-left
                svg
                    use(xlink:href='/assets/img/sprite.svg#arrow-left')
            .slike-arrow.slike-arrow-right
                svg
                    use(xlink:href='/assets/img/sprite.svg#arrow-right')
            .slike__container
                ul.slike__track
                    li.slike__item
                        a(href="#!" rel =".popup").popup-init-js
                        h2 1
                        .imgs
                            img(src='assets/img/i-1.png', alt='img')
                    li.slike__item
                        a(href="#!" rel =".popup").popup-init-js
                        h2 2
                        .imgs
                            img(src='assets/img/i-6.png', alt='img')
                    li.slike__item
                        a(href="#!" rel =".popup").popup-init-js
                        h2 3
                        .imgs
                            img(src='assets/img/p.jpg', alt='img')
                    li.slike__item.popup-init-js
                        a(href="#!" rel =".popup").popup-init-js
                        h2 4
                        .imgs
                            img(src='assets/img/img-2.png', alt='img')




section
    .container
        h2 SLIKE  -- 4 слайда.
        .m20
        .slike
                .slike-arrow.slike-arrow-left
                            svg
                                use(xlink:href='/assets/img/sprite.svg#arrow-left')
                .slike-arrow.slike-arrow-right
                            svg
                                use(xlink:href='/assets/img/sprite.svg#arrow-right')
                .slike__container
                    ul.slike__track
                        li.slike__item
                            a(href="#!" rel =".popup").popup-init-js
                            h2 1
                            .imgs
                                img(src='assets/img/i-1.png', alt='img')
                        li.slike__item
                            a(href="#!" rel =".popup").popup-init-js
                            h2 2
                            .imgs
                                img(src='assets/img/i-6.png', alt='img')
                        li.slike__item
                            a(href="#!" rel =".popup").popup-init-js
                            h2 3
                            .imgs
                                img(src='assets/img/p.jpg', alt='img')
                        li.slike__item.popup-init-js
                            a(href="#!" rel =".popup").popup-init-js
                            h2 4
                            .imgs
                                img(src='assets/img/img-2.png', alt='img')
                        li.slike__item.popup-init-js
                            a(href="#!" rel =".popup").popup-init-js
                            h2 5
                            .imgs
                                img(src='assets/img/img-2.png', alt='img')

                        li.slike__item
                            a(href="#!" rel =".popup").popup-init-js
                            h2 6
                            .imgs
                                img(src='assets/img/p.jpg', alt='img')
                        li.slike__item.popup-init-js
                            a(href="#!" rel =".popup").popup-init-js
                            h2 7
                            .imgs
                                img(src='assets/img/img-2.png', alt='img')
                        li.slike__item.popup-init-js
                            a(href="#!" rel =".popup").popup-init-js
                            h2 8
                            .imgs
                                img(src='assets/img/img-2.png', alt='img')












