










#galery.galery-slider
    .container
        h2 Mой слайдер -- 4 слайда.
        .m20
        .galery-slider__body
            ul.galery
                li.galery__item
                    .imgs
                        img(src='assets/img/i-1.png', alt='img')
                li.galery__item
                    .imgs
                        img(src='assets/img/i-6.png', alt='img')
                li.galery__item
                    .imgs
                        img(src='assets/img/p.jpg', alt='img')
                li.galery__item
                    .imgs
                        img(src='assets/img/img-2.png', alt='img')









.m40
section#galery-fade
    .container
        h2 Mой слайдер по клику на кнопки- переключает слайды. 4слайда
        .m40
        .slider
            .posts-prev-1.slider-arrow.slider-prev
                svg
                    use(xlink:href='/assets/img/sprite.svg#arrow-left')
            .posts-next-1.slider-arrow.slider-next
                svg
                    use(xlink:href='/assets/img/sprite.svg#arrow-right')
            .slider-posts
                .posts__item.posts-item
                    .posts-item__img.imgs
                        img(src='assets/img/i-1.png', alt='img')
                .posts__item.posts-item
                    .posts-item__img.imgs
                        img(src='assets/img/i-6.png', alt='img')
                .posts__item.posts-item
                    .posts-item__img.imgs
                        img(src='assets/img/p.jpg', alt='img')
                .posts__item.posts-item
                    .posts-item__img.imgs
                        img(src='assets/img/i-6.png', alt='img')

















