#galery.galery-slider
    .container
        h2 Mой слайдер -- 4 слайда.
        .m20
        .galery-slider__body
            ul.galery
                li.galery__item.galery__item-1
                    .imgs
                        img(src='assets/img/i-1.png', alt='img')
                li.galery__item.galery__item-2
                    .imgs
                        img(src='assets/img/i-6.png', alt='img')
                li.galery__item.galery__item-3
                    .imgs
                        img(src='assets/img/p.jpg', alt='img')
                li.galery__item
                    .imgs
                        img(src='assets/img/img-2.png', alt='img')





#galery-arrows.galery-slider.galery-slider--arrows
    .container
        h2 Mой слайдер стрелки  -- 4 слайда.
        .m20
        .galery__body
            ul.galery-arrows
                li.galery__item.galery__item-1
                    .imgs
                        img(src='assets/img/i-1.png', alt='img')
                li.galery__item.galery__item-2
                    .imgs
                        img(src='assets/img/i-6.png', alt='img')
                li.galery__item.galery__item-3
                    .imgs
                        img(src='assets/img/p.jpg', alt='img')
                li.galery__item
                    .imgs
                        img(src='assets/img/img-2.png', alt='img')

        .galery-arrow.galery-arrow-left
                svg
                    use(xlink:href='/assets/img/sprite.svg#arrow-left')
        .galery-arrow.galery-arrow-right
                svg
                    use(xlink:href='/assets/img/sprite.svg#arrow-right')