extends ../layout/main
block header
  include ../modules/first
block content
  
  //- include ../modules/vidget
  include ../modules/sections

block footer
  //- include ../modules/modal
  include ../modules/loader
  include ../modules/footer 
  