extends ../layout/main
block header
  include ../modules/first
block content
  
  //- include ../modules/vidget
  include ../modules/bunner
  include ../modules/posts
  include ../modules/posts-low
  include ../modules/posts-num
  include ../modules/projects
  include ../modules/contacts
  include ../modules/inputs

block footer
  //- include ../modules/modal
  include ../modules/loader
  include ../modules/start-button
  include ../modules/popup
  include ../modules/footer 
  