extends ../layout/main
block header
  include ../modules/first
block content
  include ../modules/bunner
  include ../modules/slider-swiper
  include ../modules/forma
  //include ../слайдеры/SLIKE
  //include ../слайдеры/posts-slider
  //include ../слайдеры/posts-low-slider
  //include ../слайдеры/posts-num
  //include ../слайдеры/galery-slider
  //include ../слайдеры/duble-sliders
  //include ../слайдеры/мои слайдеры
  //include ../modules/quiz
  //include ../modules/polzunok-range
  include ../modules/tabs
  //include ../modules/contacts

  //==========  experimental area============
  //include ../modules/slyder-new
  //include ../modules/slider-infinity
  //include ../modules/slider-track
  //include ../modules/sliderCarousel-1
  //include ../modules/inputs

block footer
  //include ../modules/loader
  //include ../modules/start-button
  include ../modules/popup
  include ../modules/footer 
  