extends ../layout/main
block header
  include ../modules/first
block content
  include ../modules/bunner
  include ../слайдеры/posts-slider
  include ../слайдеры/posts-low-slider
  include ../слайдеры/posts-num
  include ../слайдеры/galery-slider
  include ../слайдеры/duble-sliders
  include ../modules/quiz
  include ../modules/polzunok-range
  include ../modules/tabs
  //include ../modules/contacts
  //include ../modules/slyder-new
  //include ../modules/slider-infinity
  //include ../modules/slider-track
  //include ../modules/vidget
  //include ../modules/inputs

block footer
  //include ../modules/modal
  //include ../modules/loader
  //include ../modules/start-button
  include ../modules/popup
  include ../modules/footer 
  