extends ../layout/main
block header
  include ../modules/first
block content
  
  //- include ../modules/vidget
  include ../modules/bunner
  include ../modules/posts
  include ../modules/posts-low
  include ../modules/projects

block footer
  //- include ../modules/modal
  include ../modules/loader
  include ../modules/start-button
  include ../modules/modals
  include ../modules/footer 
  