*
  outline: 1px solid green
  box-sizing: border-box


.container
  outline: 1px solid #4164ff
//------.container--------
.container
  max-width: 1230px
  width: 100%
  margin: 0 auto
 
  
  @media (min-width: 1000px) and (max-width: 1290px)
    margin: 0 30px
    width: calc( 100% -  60px)

  @media (max-width: 999px)
    margin: 0 10px
    width: calc( 100% -  20px)




.wrapper
  overflow: hidden
  min-height: 100vh


.bg
  background-repeat: no-repeat
  background-size: cover
  background-position: center

a
  display: block
  transition: all 0.2s ease-in-out
  color: #000

  &:hover
    color: $active
    cursor: pointer


.lock
  overflow: hidden
.active
  opacity: 1
  visibility: visible
  display: block


.title 
  width: 100%
  +jucc	


