.posts__body
  // +grid(30px)
  // +columns(repeat(3, 1fr))
// .posts__img
//   padding: 0 0 57% 0
.posts__item
  position: relative
  
.posts__img
  &:after
    content: ''
    position: absolute
    +bg(rgb(0,0,0,.4))
    width: 100%
    height: 100%
    top: 0
    left: 0




// здесь задается высота слайдера!!!
.posts-item__body
    position: relative
    z-index: 2
    +fdc
    padding: 20px 10px
    min-height: 300px




.posts-item__title 
  text-align: center
  padding: 0 0 20px 0
  h3 
    color: white
    font-size: 20px
    +tu

    
.posts-item__text
    color: white
    font-size: 14px

.posts-item__button
  margin: 10px 0 0 0
  flex-grow: 1
  +fdc
  +juce
  a
    width: 100px
    margin: 0 auto
    height: 40px
    +br
    +tu

// версия с кнопками по бокам
#posts
  .slick-slide
    margin: 0 20px
  .posts__body
    margin: 0 -20px


//  версия с кнопками внизу 
#posts-v1
  .slick-slide
    margin: 0 20px
  .posts__body
    margin: 0 -20px
  .slick-arrow 
    top: auto
    bottom: -70px
    z-index: 20
    transform: translateY(0)
  .slick-prev
    left: auto
    right: 100px
  .slick-next
    right: 20px



@media (max-width: 1199px)
  #posts-v1
    .slick-arrow
      width: 30px
      height: 30px
      bottom: -50px
      &:after
        font-size: 15px
        width: 15px
        height: 15px
    .slick-prev
      left: auto
      right: 70px


@media (max-width: 767px)
  .posts-item__title 
    h3 
      font-size: 15px
  .posts-item__text
    font-size: 12px
